*{
    margin: 0;
    padding: 0;
}

body,html{
    background-color: rgba(0, 0, 0, 0.747);
    overflow-x: hidden;
}

.navbar.bg-body-tertiary{
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
#menu a {
    display: block;
    padding: 0.5rem;
}

.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: hsla(0, 2%, 10%, 0.604);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
}

.nav-link.active{
    border: 2px solid rgba(240, 248, 255, 0.473);
    border-radius: 18px;
}

#clock{
    margin-right: 30px;
}

#back-button{
    text-align: center;
}

.page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
/*    justify-content: space-between;*/
}

.conteiner-about{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.192);
    border-radius: 42px;
    height: 100vh;
    width: 180vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#easter-egg{
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.575);
    color: aliceblue;
}

.text-p{
    width: 80vh;
}

.tittle.text{
    text-decoration: underline;
}

.text{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.575);
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

#picture{
    width: 400px;
    border-radius: 50%;
}

.tecnologias{
    margin-top: 10px;
    height: 110vh;
    width: 180vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /*border-radius: 42px;*/
}

#cardTec-left{
    text-align: left;
    display: flex;
    width: 100%;
    flex-direction: row;
}

#cardTec-right{
    text-align: left;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}

#cardTec-Image{
    height: 200px;
}

.text-tec{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 42px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}

.text-tec > p{
    padding: 10px 10px;
}


.lineCard-left{
    display: flex;
    flex-direction: end;
    width: 100%;
}

.lineCard-right{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.projects{
    height: 100vh;
    width: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel.slide{
    height: 100vh;
    width: 100%;
    display: flex;
}

.textProject.cookin{
    color: black;
    background-color: rgba(250, 250, 250, 0.556);
    padding: 0;
    margin: 0;
}

.textProject.chat{
    color: aliceblue;
}

.d-block.w-100{
    width: 100%;
}

#titleForm{
    text-align: center;
    color: aliceblue;
}

.rodape{
    background: #66c3d0;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.icons{
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.iconList{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.iconList > li{
    margin: 10px 10px;
}

i{
    color: black;
}

.worldLink{
    color: black;
}

.menuFooter{
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menuFooter-List{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.menuFooter-List > li{
    color: red;
    text-decoration: none;
    margin: 10px 10px;
}

.wavesContent{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.waves{
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.final{
    height: 30%;
    width: 100%;
    background-color: black;
    color: aliceblue;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave-1 {
    animation: moveWave1 3s ease-in-out infinite alternate;
}

@keyframes moveWave1 {
    from {
      transform: translateX(-2000px);
    }
}

.wave-2 {
    animation: moveWave2 3s 1.2s ease-in-out infinite alternate;
}

@keyframes moveWave2 {
    from {
      transform: translateX(-1800px);
    }
}

.wave-3 {
    animation: moveWave3 3s 0.7s ease-in-out infinite alternate;
}

@keyframes moveWave3 {
    from {
      transform: translateX(-1600px);
    }
}

#particles-js{
    background: rgb(1, 10, 17);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

@media (max-width: 600px) {
    .conteiner-about {
        flex-direction: column;
    }
    .text{
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.575);
        padding: 15px;
        width: 380px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .text-p{
        width: 400px;
    }
    .tecnologias{
        margin-top: 10px;
        width: 400px;
        height: 200vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        /*border-radius: 42px;*/
    }
    .text-tec{
        color: aliceblue;
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 42px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        width: 300px;
    }
    #cardTec-left{
        text-align: left;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #cardTec-right{
        text-align: left;
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
    }
    #navBar{
        display: none;
    }
    .navbar.bg-body-tertiary{
        display: flex;
    }
    .final{
        font-size: 12px;
    }
    
}
