:root{
    background-color: rgba(0, 0, 0, 0.747);
}

body{
    background-color: rgba(0, 0, 0, 0.747);
}

.navbar.navbar-expand-lg.bg-body-tertiary{
    background-color: #1b1a1a9a;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nav-link.active{
    border: 2px solid rgba(240, 248, 255, 0.473);
    border-radius: 18px;
}


#back-button{
    text-align: center;
}

.page{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteiner-about{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.192);
    height: 100vh;
    width: 180vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 42px;
}

.text-p{
    width: 80vh;
}

.tittle.text{
    text-decoration: underline;
}

.text{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.575);
    padding: 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

#picture{
    width: 120px;
}

.projects{
    margin-top: 10px;
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.carousel.slide{
    width: 100%;
}

.carousel-inner{
    height: 100vh;
}

.card{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.card-body{
    background-color: #444;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.tecnologias{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.966);
    height: 100vh;
    width: 180vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /*border-radius: 42px;*/
}

#cardTec{
    text-align: left;
    display: flex;
    flex-direction: column;
}

#cardTec-Image{
    height: 200px;
}

.lineCard-left{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.lineCard-right{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.rodape{
    width: 100%;
    height: 40vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-rodape{
    height: 85%;
}

.final{
    height: 15%;
    width: 100%;
    background-color: black;
    color: aliceblue;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#particles-js{
    background: rgb(1, 10, 17);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}